dist/nostril-**.tar.gz

gnostr
mempool-bot
openssl

cmake_install.cmake

CMakeCache.txt
CMakeFiles/

ext/secp256k1/CMakeFiles/
ext/secp256k1/CTestTestfile.cmake
ext/secp256k1/DartConfiguration.tcl
ext/secp256k1/cmake_install.cmake
ext/secp256k1/src/CMakeFiles/
ext/secp256k1/src/CTestTestfile.cmake
ext/secp256k1/src/cmake_install.cmake

*.o
/.direnv/
.privenv
nostril
/result
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags
libsecp256k1.a
/target

!/dist/*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/version

.DS_Store
deps/.DS_Store


# Added by cargo
#
# already existing elements were commented out

#/target
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.make
config.status
configure
cscope.out
doc/tig.1
doc/tigmanual.7
doc/tigrc.5
doc/release-docs/
doc/manual.html-chunked
doc/manual.pdf
doc/manual.toc
doc/*.html
doc/*.xml
tags
test-graph
tig
tig-*.tar.gz
tig-*.tar.gz.md5
tig.spec
*.o
*~
