dist/nostril-**.tar.gz

gnostr
mempool-bot
openssl

cmake_install.cmake

CMakeCache.txt
CMakeFiles/

ext/secp256k1/CMakeFiles/
ext/secp256k1/CTestTestfile.cmake
ext/secp256k1/DartConfiguration.tcl
ext/secp256k1/cmake_install.cmake
ext/secp256k1/src/CMakeFiles/
ext/secp256k1/src/CTestTestfile.cmake
ext/secp256k1/src/cmake_install.cmake

*.o
/.direnv/
.privenv
nostril
/result
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags
libsecp256k1.a
/target

!/dist/*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/version

.DS_Store
deps/.DS_Store


# Added by cargo
#
# already existing elements were commented out

#/target
manual.html-chunked
manual.pdf
manual.toc
tig
tig.spec
tig-*.tar.gz
