dist/nostril-**.tar.gz

gnostr
mempool-bot
openssl

cmake_install.cmake

CMakeCache.txt
CMakeFiles/

ext/secp256k1/CMakeFiles/
ext/secp256k1/CTestTestfile.cmake
ext/secp256k1/DartConfiguration.tcl
ext/secp256k1/cmake_install.cmake
ext/secp256k1/src/CMakeFiles/
ext/secp256k1/src/CTestTestfile.cmake
ext/secp256k1/src/cmake_install.cmake

*.o
/.direnv/
.privenv
nostril
/result
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags
libsecp256k1.a
/target

!/dist/*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/version

.DS_Store
deps/.DS_Store

#cargo vendor
vendor/addr2line/
vendor/adler2/
vendor/aead/
vendor/aes/
vendor/aho-corasick/
vendor/android-tzdata/
vendor/android_system_properties/
vendor/ansi_term/
vendor/argparse/
vendor/ascii/
vendor/async-trait/
vendor/atty/
vendor/autocfg/
vendor/backtrace/
vendor/base16ct/
vendor/base64-0.13.1/
vendor/base64/
vendor/base64ct/
vendor/bech32/
vendor/bitcoin-internals/
vendor/bitcoin_hashes-0.11.0/
vendor/bitcoin_hashes/
vendor/bitflags-1.3.2/
vendor/bitflags/
vendor/block-buffer/
vendor/block-padding/
vendor/bumpalo/
vendor/byteorder/
vendor/bytes/
vendor/cbc/
vendor/cc/
vendor/cfg-if/
vendor/chacha20/
vendor/chacha20poly1305/
vendor/chrono/
vendor/cipher/
vendor/clap/
vendor/const-oid/
vendor/constant_time_eq/
vendor/convert_case/
vendor/core-foundation-sys/
vendor/core-foundation/
vendor/core-net/
vendor/cpufeatures/
vendor/crypto-bigint/
vendor/crypto-common/
vendor/der/
vendor/derive_more/
vendor/digest/
vendor/ecdsa/
vendor/elliptic-curve/
vendor/encoding_rs/
vendor/equivalent/
vendor/ff/
vendor/fnv/
vendor/form_urlencoded/
vendor/fuchsia-cprng/
vendor/futures-channel/
vendor/futures-core/
vendor/futures-executor/
vendor/futures-io/
vendor/futures-macro/
vendor/futures-sink/
vendor/futures-task/
vendor/futures-util/
vendor/futures/
vendor/gcc/
vendor/generic-array/
vendor/getopts/
vendor/getrandom-0.1.16/
vendor/getrandom/
vendor/gimli/
vendor/git2/
vendor/group/
vendor/h2/
vendor/hashbrown/
vendor/heck/
vendor/hermit-abi-0.1.19/
vendor/hermit-abi/
vendor/hex-conservative/
vendor/hex/
vendor/hkdf/
vendor/hmac/
vendor/http-body/
vendor/http/
vendor/httparse/
vendor/httpdate/
vendor/hyper-rustls/
vendor/hyper/
vendor/iana-time-zone-haiku/
vendor/iana-time-zone/
vendor/idna/
vendor/indexmap/
vendor/inout/
vendor/ipnet/
vendor/itoa/
vendor/jobserver/
vendor/js-sys/
vendor/k256/
vendor/lazy_static/
vendor/libc/
vendor/libgit2-sys/
vendor/libssh2-sys/
vendor/libz-sys/
vendor/lightning-invoice/
vendor/lightning/
vendor/linkify/
vendor/log/
vendor/memchr/
vendor/memoffset/
vendor/mime/
vendor/miniz_oxide/
vendor/mio/
vendor/num-bigint/
vendor/num-integer/
vendor/num-traits/
vendor/num_cpus/
vendor/object/
vendor/once_cell/
vendor/opaque-debug/
vendor/openssl-probe/
vendor/openssl-sys/
vendor/pad/
vendor/password-hash/
vendor/pbkdf2/
vendor/percent-encoding/
vendor/pin-project-lite/
vendor/pin-utils/
vendor/pkcs8/
vendor/pkg-config/
vendor/poly1305/
vendor/ppv-lite86/
vendor/proc-macro-error-attr/
vendor/proc-macro-error/
vendor/proc-macro2/
vendor/quote/
vendor/rand-0.3.23/
vendor/rand-0.4.6/
vendor/rand-0.7.3/
vendor/rand/
vendor/rand_chacha-0.2.2/
vendor/rand_chacha/
vendor/rand_core-0.3.1/
vendor/rand_core-0.4.2/
vendor/rand_core-0.5.1/
vendor/rand_core/
vendor/rand_hc/
vendor/rdrand/
vendor/regex-automata/
vendor/regex-syntax/
vendor/regex/
vendor/reqwest/
vendor/rfc6979/
vendor/ring-0.16.20/
vendor/ring/
vendor/rpassword/
vendor/rtoolbox/
vendor/rust-crypto/
vendor/rustc-demangle/
vendor/rustc-serialize/
vendor/rustc_version/
vendor/rustls-0.20.9/
vendor/rustls-pemfile/
vendor/rustls-webpki/
vendor/rustls/
vendor/rustversion/
vendor/ryu/
vendor/salsa20/
vendor/scrypt/
vendor/sct/
vendor/sec1/
vendor/secp256k1-0.24.3/
vendor/secp256k1-sys-0.6.1/
vendor/secp256k1-sys/
vendor/secp256k1/
vendor/semver/
vendor/serde/
vendor/serde_derive/
vendor/serde_json/
vendor/serde_urlencoded/
vendor/sha1/
vendor/sha2/
vendor/sha256/
vendor/shlex/
vendor/signature/
vendor/slab/
vendor/socket2/
vendor/speedy-derive/
vendor/speedy/
vendor/spin-0.5.2/
vendor/spin/
vendor/spki/
vendor/strsim/
vendor/structopt-derive/
vendor/structopt/
vendor/subtle/
vendor/syn-1.0.109/
vendor/syn/
vendor/sync_wrapper/
vendor/system-configuration-sys/
vendor/system-configuration/
vendor/textwrap/
vendor/thiserror-impl/
vendor/thiserror/
vendor/thread-priority/
vendor/time/
vendor/tinyvec/
vendor/tinyvec_macros/
vendor/tokio-rustls/
vendor/tokio-util/
vendor/tokio/
vendor/tower-service/
vendor/tracing-core/
vendor/tracing/
vendor/try-lock/
vendor/tungstenite/
vendor/typenum/
vendor/unicode-bidi/
vendor/unicode-ident/
vendor/unicode-normalization/
vendor/unicode-segmentation/
vendor/unicode-width/
vendor/universal-hash/
vendor/untrusted-0.7.1/
vendor/untrusted/
vendor/url/
vendor/utf-8/
vendor/vcpkg/
vendor/vec_map/
vendor/version_check/
vendor/want/
vendor/wasi-0.10.0+wasi-snapshot-preview1/
vendor/wasi-0.9.0+wasi-snapshot-preview1/
vendor/wasi/
vendor/wasm-bindgen-backend/
vendor/wasm-bindgen-futures/
vendor/wasm-bindgen-macro-support/
vendor/wasm-bindgen-macro/
vendor/wasm-bindgen-shared/
vendor/wasm-bindgen/
vendor/web-sys/
vendor/webpki-roots-0.22.6/
vendor/webpki-roots/
vendor/webpki/
vendor/winapi-i686-pc-windows-gnu/
vendor/winapi-x86_64-pc-windows-gnu/
vendor/winapi/
vendor/windows-core/
vendor/windows-sys-0.48.0/
vendor/windows-sys/
vendor/windows-targets-0.48.5/
vendor/windows-targets/
vendor/windows_aarch64_gnullvm-0.48.5/
vendor/windows_aarch64_gnullvm/
vendor/windows_aarch64_msvc-0.48.5/
vendor/windows_aarch64_msvc/
vendor/windows_i686_gnu-0.48.5/
vendor/windows_i686_gnu/
vendor/windows_i686_gnullvm/
vendor/windows_i686_msvc-0.48.5/
vendor/windows_i686_msvc/
vendor/windows_x86_64_gnu-0.48.5/
vendor/windows_x86_64_gnu/
vendor/windows_x86_64_gnullvm-0.48.5/
vendor/windows_x86_64_gnullvm/
vendor/windows_x86_64_msvc-0.48.5/
vendor/windows_x86_64_msvc/
vendor/winreg/
vendor/zerocopy-derive/
vendor/zerocopy/
vendor/zeroize/
